*, *:after, *:before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 60px;
  font-size: 16px;
  line-height: 1.4;
  background-color: white;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

p {
  text-align: center;
  margin: 20px 70px;
}

h2 {
  margin-top: 50px;
}

@import '../src/style';

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  padding: 4px 0;
}

ul li ul {
  display: none;
  padding-left: 20px;
}

ul li a {
  display: block;
  text-decoration: none;
  padding: 2px 5px;
  color: #fff;
  background-color: brown;
}

ul li.-active ul {
  display: block;
  margin: 0;
}

ul li.-clicked a {
  color: red;
}

@media (max-width: 400px) {
  ul li.-current ul {
    display: block;
  }
}
